"*":
  Zen:
    gutter: true
    minimap: true
    tabs: "multiple"
    width: 160
  "atom-beautify":
    js:
      space_after_anon_function: true
  "atom-clock":
    dateFormat: "h:mm a"
    showTooltip: true
  "autocomplete-plus":
    autoActivationDelay: 100
    confirmCompletion: "enter"
    strictMatching: true
    useCoreMovementCommands: false
  "base16-syntax":
    scheme: "Tomorrow"
  "bracket-matcher": {}
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "wrap-guide"
      "language-todo"
      "language-javascript-jsx"
      "language-vue"
      "atom-beautify"
      "background-tips"
      "language-csharp"
      "language-java"
      "language-objective-c"
      "language-perl"
      "welcome"
      "language-gfm"
      "autocomplete-css"
      "autocomplete-html"
      "autoflow"
      "language-clojure"
      "language-go"
      "language-make"
      "language-mustache"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "language-typescript"
      "github"
      "open-on-github"
      "autocomplete-snippets"
    ]
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/jamescool"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    titleBar: "custom"
  "duotone-dark-syntax":
    color:
      duo: "#5a7d14"
      uno: "#8c4f69"
  editor:
    fontFamily: "Consolas"
    invisibles: {}
    lineHeight: 1.6
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabType: "hard"
  emmet: {}
  "exception-reporting":
    userId: "db9809b3-54fc-4faf-84b6-804b57b6d5af"
  "file-icons": {}
  "file-types":
    ".zshrc": "source.python"
  fonts:
    fontFamily: "SK Modernist"
  "goto-definition":
    performanceMode: true
  "gruvbox-plus-syntax":
    contrast: "Soft"
  "linter-eslint":
    globalNodePath: "/usr/local"
  "linter-less":
    ieCompatibilityChecks: false
  "linter-ui-default":
    panelHeight: 69
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  "nord-atom-syntax":
    accessibility:
      commentContrast: 10
  "one-dark-ui":
    hideDockButtons: true
  "pinned-tabs":
    closeUnpinned: true
  "platformio-ide-terminal":
    style: {}
  "relative-numbers":
    softWrapsCount: false
  "status-bar": {}
  tabs:
    enableVcsColoring: true
  "tree-view": {}
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    hideStatusBarOnMaximizePane: false
    hideTabBarOnMaximizePane: false
    keymapPToPutWithAutoIndent: true
    keymapSemicolonToInnerAnyPairInOperatorPendingMode: true
    keymapSemicolonToInnerAnyPairInVisualMode: true
    keymapYToYankToLastCharacterOfLine: true
    showHoverSearchCounter: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 200
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 200
    statusBarModeStringStyle: "long"
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
