# These two rules allow "jk" to be used to exit insert mode
# However, this causes a significant delay when typing only j, when making selections, etc.
# 'atom-text-editor.vim-mode-plus:not(.normal-mode)':
#   'j k': 'vim-mode-plus:activate-normal-mode'
# 'atom-text-editor[mini]':
#   'j k': 'core:cancel'

'atom-text-editor.vim-mode-plus':
	'ctrl-cmd-up': 'unset!'
	'ctrl-cmd-down': 'unset!'
	'ctrl-k': 'editor:move-line-up'
	'ctrl-j': 'editor:move-line-down'

'atom-text-editor.vim-mode-plus:not([mini])':
	# disable arrow keys in vim mode ... still able to move blocks of code ... and use arrows in search fields
	# with ctrl + cmd + up/down
	'left': "core:nop"
	'right': "core:nop"
	'up': "core:nop"
	'down': "core:nop"

# backspace only active in insert mode when vim mode is enabled
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
	'backspace': 'core:nop'
	'space': 'core:nop'


# make CTRL+TAB and CTRL+SHIFT+TAB more intuitive (for selecting tabs)
'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'


# ensure that "tab" is used for custom snippets and tab stops
# ... and that ctrl-e is used for emmet expansions
'atom-text-editor:not([mini])':
  'tab': 'snippets:next-tab-stop'
	'ctrl-e': 'emmet:expand-abbreviation-with-tab'

# 'atom-text-editor[data-grammar~="css"]:not([mini]),
# atom-text-editor[data-grammar~="less"]:not([mini]),
# atom-text-editor[data-grammar~="js"]:not([mini]),
# atom-text-editor[data-grammar~="sass"]:not([mini])':
# 	'tab': 'snippets:next-tab-stop'
# 	'ctrl-e': 'emmet:expand-abbreviation-with-tab'
