# These two rules allow "jk" to be used to exit insert mode
'atom-text-editor.vim-mode-plus:not(.normal-mode):not(.visual-mode)':
  'j k': 'vim-mode-plus:activate-normal-mode'
'atom-text-editor[mini].vim-mode-plus':
  'j k': 'core:cancel'

# move selection up/down with j/k
'atom-text-editor.vim-mode-plus':
	'ctrl-cmd-up': 'unset!'
	'ctrl-cmd-down': 'unset!'
	'ctrl-k': 'editor:move-line-up'
	'ctrl-j': 'editor:move-line-down'

# disable arrow keys in vim mode ... still able to  use arrows in search fields
'atom-text-editor.vim-mode-plus:not([mini])':
	'left': "core:nop"
	'right': "core:nop"
	'up': "core:nop"
	'down': "core:nop"

# backspace only active in insert mode when vim mode is enabled
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
	'backspace': 'core:nop'
	'space': 'core:nop'


# make CTRL+TAB and CTRL+SHIFT+TAB more intuitive (for selecting tabs)
'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'


# ensure that "tab" is used for custom snippets and tab stops
# ... and that ctrl-e is used for emmet expansions
'atom-text-editor:not([mini])':
  'tab': 'snippets:next-tab-stop'
	'ctrl-e': 'emmet:expand-abbreviation-with-tab'


# toggle bookmarks
'atom-text-editor:not(.insert-mode):not([mini])':
	'm n': 'bookmarks:jump-to-next-bookmark'
	'm m': 'bookmarks:toggle-bookmark'


# toggle treeview with f3
'.platform-darwin atom-text-editor:not([mini])':
	'f3': 'tree-view:toggle'


# allow "o" to open treeview item ... and tab to toggle treeview focus
'.tree-view':
	'o': 'tree-view:expand-item'
	'tab': 'tree-view:toggle-focus'
'.platform-darwin atom-text-editor:not(.insert-mode)':
	'tab': 'tree-view:toggle-focus'
