# CSS, LESS, Sass
'.source.css, .source.css.sass, .source.css.less':
	'mediaQuery':
		'prefix': '@media'
		'body': '@media (${1:max}-width: @width${2:Mobile}) {\n\t${3}\n}'
	'tabletMediaQuery':
		'prefix': '@tablet'
		'body': '@media only screen\n\tand (min-device-width : 768px)\n\tand (max-device-width : 1024px)\n\tand (orientation : ${1:portrait}) {\n\t\t${2}\n}'


# PHP
'.text.php, text.html.php':
	'self search':
		'prefix': 'self'
		'body': '<?php if ($searchType == \'self\') { ?>'
	'not self search':
		'prefix': 'notself'
		'body': '<?php if ($searchType != \'self\') { ?>'
	'closing curly brace':
		'prefix': 'close'
		'body': '<?php } ?>'
	'ternary':
		'prefix': 'tern'
		'body': '<?php echo ($searchType == \'self\') ? ${1} : ${2}; ?>'


# CSS, LESS, Sass, JavaScript
'.source.css, .source.css.sass, .source.css.less, .source.js':
	'start comment banner':
		'prefix': 'start---'
		'body': '// --------------------------------------------------\n// '
	'end comment banner':
		'prefix': 'end---'
		'body': '// END ${1}\n// --------------------------------------------------'
	'both comment banners':
		'prefix': 'both---'
		'body': '// --------------------------------------------------\n// ${1}\n${2}\n// END ${1}\n// --------------------------------------------------'

# JavaScript
# maybe add a success function to the jquery snippet?
'.source.js':
	'fetch API':
		'prefix': 'fetch'
		'body': 'fetch(${1:url}).then(res => {\n\tif (!res.ok) {\n\t\tthrow Error(res.status);\n\t}\n\treturn res.json();\n}).then(data => {\n\t${2:// stuff}\n}).catch(error => {\n\tconsole.log(error);\n});'
	'jQuery ajax':
		'prefix': 'ajax'
		'body': '$.ajax({\n\turl: ${1:variable},\n\tcontentType: \'application/json\',\n\tdata: JSON.stringify({event: \'behavior:push_notification:\' + currentPermission}),\n\ttype: \'POST\',\n\tprocessData: false,\n\ttimeout: 2000\n});'

# PHP and HTML
'.text.php, text.html.basic':
	'viewport':
		'prefix': 'viewport'
		'body': '<meta name="viewport" content="width=device-width, initial-scale=1">'
